@model WebMyProject.UserAuth.UserLogin
@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}
<body>
    <br />
    <br />
<div class="container">
        <div class="row" >
            <div class="col-md-4 mx-auto">
            <h3 class="text-center">Вход</h3>

                <form method="post" asp-controller="Auth" asp-action="Login" asp-antiforgery="true" style="padding-left:20px; padding-top:20px;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="returnUrl" />

                    <div class="row">
                        <div class="col-sm">
                            <input type="text" asp-for="email" class="form-control" placeholder="Логин"/>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm">
                        <input type="password" asp-for="password" class="form-control" placeholder="Пароль"/>
                    </div>
                </div>
                <br/>
                <div class="text-center col-xs-12">
                        <button type="submit" class="btn btn-outline-primary">Войти</button>
                </div>
            </form>

            <p>
                <div>
                        <h6 class="text-center"> Нет аккаунта? <a href="/Account/Register">Регистрация</a></h6>
                </div>
            </p>

        </div>
    </div>
</div>
</body>

